header {
    background-color: indianred;
    color: white;
}

.cabecalho-imagem{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:  20px 0;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}